@import "tailwindcss";

* {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Ant Design */

.ant-select .ant-select-selector:hover {
  border-color: #c816fa !important;
}

.ant-select.ant-select-open .ant-select-selector {
  border-color: #c816fa !important;
}

.ant-select-item-option {
  background-color: #27046e;
  color: white;
}

.ant-select .ant-select-arrow svg {
  color: white;
  fill: white;
}

.ant-select-item-option-active,
.ant-select-item-option:hover {
  background-color: #410caa !important;
  color: black !important;
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #410caa !important;
  color: black !important;
}

.css-dev-only-do-not-override-1odpy5d.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #313236 !important;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-collapse
  .ant-collapse-content {
  border-top-color: #313236 !important;
}

.ant-collapse-content-box {
  background-color: transparent !important;
  padding: 0 !important;
}

/* Swiper */

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.swiper-pagination-bullet-active {
  background-color: #c816fa !important;
}
